label input[type='radio'] ~ * .check {
    transition: background 0.2s, transform 0.2s, border 0.1s;
}

label input[type='radio'] ~ .check:hover,
label:hover input[type='radio'] ~ * .check {
    border-width: 1px;
}

label input[type='radio']:checked ~ * .check {
    border-width: 5px;
}
